.police-section{
   
    
    width: 100%;
    padding: 30px;
  
    /* align-items: center; */
    justify-self: center;
    /* justify-content: center; */
    /* justify-items: center; */
    /* text-align: center; */
}
.police-section .logo{
    max-width: 100px;
    max-height: 100px;
    margin: 25px 0px;
}

.police{
    background-color: white;
    border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10);
    padding: 30px;
}

.police h2 {
	position: relative;
	color: #373a5b;
	font-weight: 700;
	font-size: 30px;
	line-height: 1.4em;
	margin-top: 12px;
	margin-bottom: 22px;
	z-index: 1;
}

.police h3 {
	position: relative;
	color: #373a5b;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.3em;
	margin-top: 20px;
	margin-bottom: 22px;

}
.police a{
    text-decoration: none;
	color: #373a5b;

}
.police a:hover{
    text-decoration: underline;
	color: #ff9c2c;
}

.contactBoxIn{
   width: 100%;
    text-align: center;
    background-color: white;
    border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10);
    padding: 30px;

    
}
p{
    color: #373a5b;
}

@media screen and (max-width: 768px)  {
    body{
      
    }
    .contactBoxIn{
        width: 100%;
         margin-top: 25px;
       
         
     }
     .police{
        width: 100%;
     }
     .police h2{
        font-size: 20px;
     }
}