<!doctype html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NT2SW8WBHT"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-NT2SW8WBHT');
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="E-maquis, Gestionnaire d'établissement">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <meta name="author" content="Haut Numérique et Médias">
    <meta name="generator" content="E-maquis, Gestionnaire d'établissement">

    <!-- Stylesheets -->
	<link href="newAssets/css/bootstrap.css" rel="stylesheet">
	<link href="newAssets/css/main.css" rel="stylesheet">
	<link href="newAssets/css/responsive.css" rel="stylesheet">
	<link href="newAssets/css/police.css" rel="stylesheet">

	<link rel="shortcut icon" href="newAssets/images/logo/emaquisLogo2.png" type="image/x-icon">
	<link rel="icon" href="newAssets/images/logo/emaquisLogo2.png" type="image/x-icon">
    <title>Conditions générales</title>
</head>
<body class="bg-light">





    <div class="page-wrapper">

		<%- include('partial/headLanding') %>
			<!--End Header Upper-->



			<!-- Mobile Menu  -->
			<div class="mobile-menu">
				<div class="menu-backdrop"></div>
				<div class="close-btn"><span class="icon icons-multiply"></span></div>

				<nav class="menu-box">
					<div class="nav-logo"><a href="/"><img src="newAssets/images/logo/logo.png" alt="" title=""></a>
					</div>
					<div class="menu-outer">
						<!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
					</div>
				</nav>
			</div><!-- End Mobile Menu -->

		</header>
		<!--End Main Header -->
		<!--Page Title-->
		<section class="page-title" style="background-image:url(newAssets/images/background/bg-police.png)">
			<div class="container">
				<div class="content">
					<h1>Conditions générales</h1>
					<ul class="page-breadcrumb">
						<li><a href="/condition_general">Accueil</a></li>
						<li>Conditions générales</li>
					</ul>
				</div>
			</div>
		</section>
		<!--End Page Title-->
		<!--Banner Section-->




		<section class="police-section">



			<div class="auto-container">
				<div class="row clearfix">

					<div class="col-12 col-md-8 police" id="content-to-print">
						<p>Note : veuillez imprimer une copie de ce document et la conserver pour pouvoir la consulter à
							l’avenir.</p>
							<hr>
							<div class="row">
								<div class="col-2">
									<img src="newAssets/images/logo/logo.png" class="logo">
								</div>
							</div>
							
						<h2>
							Conditions Générales d'Utilisation de l'Application E-Maquis
						</h2>
						<p>
							En utilisant l'application E-Maquis, vous acceptez les conditions générales d'utilisation
							suivantes :
						</p>
						<h3>
							1. Propriété intellectuelle
						</h3>

						<p>

							Tous les droits de propriété intellectuelle de l'application E-Maquis, y compris le design,
							le code source, les images et les textes, appartiennent à l'entreprise propriétaire de
							l'application. Il est strictement interdit de copier, reproduire ou distribuer toute partie
							de l'application sans autorisation écrite de l'entreprise propriétaire
						</p>
						
						<h3>
							2. Utilisation de l'application
						</h3>

						<p>
							L'application E-Maquis est destinée à la gestion des stocks et à la traçabilité des ventes
							effectuées par les employés. Elle est également utilisée pour le bilan des ventes des
							boissons. L'utilisation de l'application est strictement réservée aux employés de
							l'entreprise propriétaire. Tout accès non autorisé ou tentative d'accès à l'application sera
							considéré comme une violation des conditions générales. En utilisant l'Application, les
							Utilisateurs acceptent de se conformer aux présentes Conditions. Les Utilisateurs s'engagent
							à utiliser l'Application conformément à toutes les lois et réglementations applicables.
						</p>
						
						<h3>
							3. Confidentialité et sécurité
						</h3>

						<p>
							L'application E-Maquis contient des informations confidentielles concernant les
							propriétaires , les ventes et les stocks. Les employés sont tenus de maintenir la
							confidentialité de ces informations et de ne pas les divulguer à des tiers sans autorisation
							écrite de l'entreprise propriétaire. Nous mettons en place des mesures de sécurité
							appropriées pour protéger vos données contre tout accès non autorisé, divulgation ou
							destruction. Cependant, veuillez noter qu'aucune méthode de transmission ou de stockage
							électronique n'est totalement sécurisée, et nous ne pouvons garantir une sécurité absolue de
							vos données.

						</p>
						<!-- 
						<ul class="list-style-one">
							<li>À l'inscription</li>
							<li>Dès la création d'un employé</li>
							<li>En contactant les administrateurs via formulaire de contact</li>
						</ul> -->
						<br />

						<h3>
							4. Responsabilité
						</h3>

						<p>
							L'Application est fournie « telle quelle », sans garantie d'aucune sorte, expresse ou
							implicite. La Société ne peut en aucun cas être tenue responsable des dommages directs,
							indirects, spéciaux ou accessoires résultant de l'utilisation de l'Application ou de
							l'impossibilité d'utiliser l'Application.
						</p>
						
						<h3>
							5. Protection des données
						</h3>

						<p>
							La Société s'engage à respecter la vie privée des Utilisateurs et à protéger les données
							personnelles conformément à la législation en vigueur. Les Utilisateurs acceptent que leurs
							données personnelles soient collectées, utilisées et stockées par la Société, et
							reconnaissent que la Société peut utiliser ces données pour améliorer les services fournis
							aux Utilisateurs. En utilisant notre application, vous consentez à la collecte, au stockage
							et à l'utilisation de vos données personnelles conformément à notre politique de
							confidentialité. Nous nous engageons à traiter vos données de manière sécurisée et à
							respecter votre vie privée. Les données personnelles que vous fournissez, telles que votre
							nom, votre adresse e-mail et vos informations de contact, peuvent être utilisées pour vous
							fournir des services personnalisés, répondre à vos demandes, améliorer notre application et
							vous informer des mises à jour importantes.
						</p>

						<h3>
							6. Modifications des conditions générales
						</h3>
						<p>
							L'entreprise propriétaire se réserve le droit de modifier les conditions générales
							d'utilisation de l'application E-Maquis à tout moment sans préavis. Les modifications seront
							publiées sur le site Web de l'entreprise propriétaire. Les employés sont tenus de vérifier
							régulièrement les conditions générales d'utilisation pour prendre connaissance des
							modifications éventuelles.
						</p>


						<h3>7. Droit applicable</h3>
						<p>
							Les présentes Conditions sont régies par le droit en vigueur en Côte d'Ivoire. Tout litige
							relatif aux présentes Conditions sera soumis à la juridiction des tribunaux compétents en
							Côte d'Ivoire. En utilisant l'Application, les Utilisateurs reconnaissent avoir lu et
							compris les présentes Conditions et acceptent de s'y conformer.
						</p>
						<div class="row">
							<div class="col-10">
								<p><strong>Dernière mise à jour - Août 2023</strong></p>

							</div>
							<div class="col-2">
								<img src="newAssets/images/logo/emaquisLogo2.png"alt="" srcset="">
							</div>
						</div>
						


					</div>
					<div class="col-12 col-md-4 contactBox">

						<div class="contactBoxIn">
							<img src="newAssets/images/icons/contrat.svg" alt="">
							
							<p>Vous avez des questions?<br/>
								APPELEZ-NOUS À TOUT MOMENT <br/>
								Tel: (+225) 0709454685 <br/>

								EMAIL: hostmaster@e-maquis.com</p>
							<button id="print-button" class="theme-btn btn-style-one">Imprimer</button>
						</div>
						<!-- <div class="contactBottom">

						</div> -->

					</div>
				</div>
			</div>
		</section>




		<!-- Main Footer -->
		<%- include('partial/footer') %>
		<!-- End Main Footer -->

	</div>
	<!--End pagewrapper-->

	<!--Scroll to top-->
	<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-circle-up"></span></div>
	
	<script src="newAssets/js/jquery.js"></script>
	<script src="newAssets/js/popper.min.js"></script>
	<script src="newAssets/js/pagenav.js"></script>
	<script src="newAssets/js/jquery.scrollTo.js"></script>
	<script src="newAssets/js/bootstrap.min.js"></script>
	<script src="newAssets/js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="newAssets/js/jquery.fancybox.js"></script>
	<script src="newAssets/js/appear.js"></script>
	<script src="newAssets/js/swiper.min.js"></script>
	<script src="newAssets/js/jquery.paroller.min.js"></script>
	<script src="newAssets/js/parallax.min.js"></script>
	<script src="newAssets/js/validate.js"></script>
	<script src="newAssets/js/bxslider.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/printThis/1.15.0/printThis.min.js"></script>
	<script src="newAssets/js/swiper.min.js"></script>
	<script src="newAssets/js/tilt.jquery.min.js"></script>
	<script src="newAssets/js/owl.js"></script>
	<script src="newAssets/js/wow.js"></script>
	<script src="newAssets/js/jquery-ui.js"></script>
	<script src="newAssets/js/script.js"></script>
</body>
</html>
