<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-NT2SW8WBHT"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-NT2SW8WBHT');
  </script>
<meta charset="UTF-8">
<title>Copyright</title>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<!-- Stylesheets -->
<link href="newAssets/css/bootstrap.css" rel="stylesheet">
<link href="newAssets/css/main.css" rel="stylesheet">
<link href="newAssets/css/responsive.css" rel="stylesheet">
<link href="newAssets/css/police.css" rel="stylesheet">

<link rel="shortcut icon" href="newAssets/images/logo/emaquisLogo2.png" type="image/x-icon">
<link rel="icon" href="newAssets/images/logo/emaquisLogo2.png" type="image/x-icon">

</head>


<body>
  <div class="page-wrapper">

		<%- include('partial/headLanding') %>
			<!--End Header Upper-->



			<!-- Mobile Menu  -->
			<div class="mobile-menu">
				<div class="menu-backdrop"></div>
				<div class="close-btn"><span class="icon icons-multiply"></span></div>

				<nav class="menu-box">
					<div class="nav-logo"><a href="index.html"><img src="images/logo/logo.png" alt=""
								title=""></a></div>
					<div class="menu-outer">
						<!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
					</div>
				</nav>
			</div><!-- End Mobile Menu -->

		</header>
		<!--End Main Header -->
	<!--Page Title-->
    <section class="page-title" style="background-image:url(newAssets/images/background/bg-police.png)">
    	<div class="container">
			<div class="content">
				<h1>Termes & Conditions</h1>
				<ul class="page-breadcrumb">
					<li><a href="/copyright">Accueil</a></li>
					<li>Termes & Conditions</li>
				</ul>
			</div>
        </div>
    </section>
    <!--End Page Title-->
		<!--Banner Section-->
		



		<section class="police-section">
		


			<div class="auto-container">
				<div class="row clearfix justify-content-center align-items-center">

					<div class="col-lg-9 police">
						<h2>
							POLITIQUE DE CONFIDENTIALITÉ DE L'APPLICATION MOBILE ET WEB E-MAQUIS
						</h2>
						<p>
							Cette politique de confidentialité concerne l'application mobile et web e-maquis, développée par HNM (ci-après « nous »). Nous collectons et utilisons vos données afin d'améliorer l'application. Nous prenons très au sérieux la confidentialité de vos données et nous nous engageons à respecter et protéger votre vie privée. Collecte de données Nous collectons les données suivantes lorsque vous utilisez l'application e-maquis.
						</p>
						<h3>
							Informations de l'appareil : 
						</h3>
						
						<p>
							Nous collectons des informations sur votre appareil mobile, y compris le modèle, la version du système d'exploitation, l'adresse IP, l'identifiant publicitaire et d'autres informations similaires.
						</p>
						<br>
						<h3>
							Données d'utilisation : 
						</h3>
						
						<p>
							Nous collectons des informations sur la manière dont vous utilisez l'application e-maquis, y compris les fonctionnalités que vous utilisez et les actions que vous effectuez. 
						</p>
						<br>
						<h3>
							Informations de localisation : 
						</h3>
						
						<p>
							Nous pouvons collecter des informations sur votre localisation approximative à des fins d'amélioration de l'application. Ces données sont collectées lorsque l'utilisateur effectue l'une des opérations suivantes sur le site:

						</p>
						<br>
						<ul class="list-style-one">
							<li>À l'inscription</li>
							<li>Dès la création d'un employé</li>
							<li>En contactant les administrateurs via formulaire de contact</li>
						</ul>
						<br/>
						
						<h3>
							Consentement à la collecte et à l'utilisation des données : 
						</h3>
						
						<p>
							En utilisant notre application, vous consentez à la collecte, au stockage et à l'utilisation de vos données personnelles conformément à notre politique de confidentialité. Nous nous engageons à traiter vos données de manière sécurisée et à respecter votre vie privée.
						</p>
						<br>
						<h3>
							Utilisation des données personnelles : 
						</h3>

						<p>
							Les données personnelles que vous fournissez, telles que votre nom, votre adresse e-mail et vos informations de contact, peuvent être utilisées pour vous fournir des services personnalisés, répondre à vos demandes, améliorer notre application et vous informer des mises à jour importantes.
						</p>
						
						<h3>
							Partage des données : 
						</h3>
						<p>
							Dans certains cas, il peut être nécessaire de partager vos données personnelles avec des tiers pour fournir des services ou améliorer notre application. Cependant, nous ne partagerons pas vos données avec des tiers à des fins de marketing sans votre consentement explicite. 
						</p>
						

						<h3>Sécurité des données :</h3>
						<p>
							Nous mettons en place des mesures de sécurité appropriées pour protéger vos données contre tout accès non autorisé, divulgation ou destruction. Cependant, veuillez noter qu'aucune méthode de transmission ou de stockage électronique n'est totalement sécurisée, et nous ne pouvons garantir une sécurité absolue de vos données. Contact Si vous avez des questions ou des préoccupations concernant notre politique de confidentialité, n'hésitez pas à nous contacter à l'adresse suivante : <a href="mailto:contact@haut-numerique.com">contact@haut-numerique.com</a>. 
							<br/>
							<b>Date d'entrée en vigueur : 20 Février 2023</b>
						</p>
					</div>

				</div>
			</div>
		</section>




		<!-- Main Footer -->
		<%- include('partial/footer') %>
		<!-- End Main Footer -->

	</div>
	<!--End pagewrapper-->

	<!--Scroll to top-->
	<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-circle-up"></span></div>

	<script src="newAssets/js/jquery.js"></script>
	<script src="newAssets/js/popper.min.js"></script>
	<script src="newAssets/js/pagenav.js"></script>
	<script src="newAssets/js/jquery.scrollTo.js"></script>
	<script src="newAssets/js/bootstrap.min.js"></script>
	<script src="newAssets/js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="newAssets/js/jquery.fancybox.js"></script>
	<script src="newAssets/js/appear.js"></script>
	<script src="newAssets/js/swiper.min.js"></script>
	<script src="newAssets/js/jquery.paroller.min.js"></script>
	<script src="newAssets/js/parallax.min.js"></script>
	<script src="newAssets/js/validate.js"></script>
	<script src="newAssets/js/bxslider.js"></script>

	<script src="newAssets/js/swiper.min.js"></script>
	<script src="newAssets/js/tilt.jquery.min.js"></script>
	<script src="newAssets/js/owl.js"></script>
	<script src="newAssets/js/wow.js"></script>
	<script src="newAssets/js/jquery-ui.js"></script>
	<script src="newAssets/js/script.js"></script>
</body>
</html>
