<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Copyright</title>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css&/style.css">
</head>
<body>
<section class="main-content">
  <div class="container ">
    <div class="logo">
      <img src="images/paresseux_sous_parasol_DEF.png" alt="" width="20%">
    </div>
    <h1 class="text-center text-uppercase mb-5">
      Politique de confidentialité de l'application mobile et web e-maquis
    </h1>
    <br>
    <br>
    <div class="row flex-center ">
      <div class="my-3 p-3 bg-white rounded box-shadow ">
        <h6 class="border-bottom border-gray pb-2 mb-0">

        </h6>
        <div class="  pt-3 copyright">

          <p class=" pb-3 mb-0 small lh-125 border-bottom border-gray ">
            Cette politique de confidentialité concerne l'application mobile et web e-maquis, développée par HNM (ci-après « nous »). Nous collectons et utilisons vos données afin d'améliorer l'application. Nous prenons très au sérieux la confidentialité de vos données et nous nous engageons à respecter et protéger votre vie privée.

            Collecte de données

            Nous collectons les données suivantes lorsque vous utilisez l'application e-maquis :
            Informations de l'appareil : nous collectons des informations sur votre appareil mobile, y compris le modèle, la version du système d'exploitation, l'adresse IP, l'identifiant publicitaire et d'autres informations similaires.
            Données d'utilisation : nous collectons des informations sur la manière dont vous utilisez l'application e-maquis, y compris les fonctionnalités que vous utilisez et les actions que vous effectuez.
            Informations de localisation : nous pouvons collecter des informations sur votre localisation approximative à des fins d'amélioration de l'application.
            Ces données sont collectées lorsque l'utilisateur effectue l'une des opérations suivantes sur le site :

          <ol>
              <li>À l'inscription</li>
                <li>Dès la création d'un employé</li>
                <li>En contactant les administrateurs via formulaire de contact</li>
          </ol>



            Utilisation des données
            Nous utilisons les données collectées afin d'améliorer l'application e-maquis. Nous utilisons ces données pour comprendre comment les utilisateurs interagissent avec l'application, pour résoudre les problèmes techniques et pour améliorer la qualité de notre service. Nous ne partageons pas vos données avec des tiers à des fins de marketing.

            Stockage des données
            Nous stockons les données collectées sur des serveurs sécurisés. Nous nous engageons à protéger vos données contre tout accès non autorisé, modification ou divulgation.

            Partage des données
            Nous ne partageons pas vos données avec des tiers à des fins de marketing. Nous pouvons partager vos données avec des prestataires de services tiers qui nous aident à fournir notre
            service, mais ces prestataires de services sont tenus de respecter la confidentialité de vos données.
            Modifications de la politique de confidentialité
            Nous pouvons mettre à jour cette politique de confidentialité de temps en temps pour refléter les changements dans nos pratiques de collecte et d'utilisation des données. Nous vous recommandons de consulter régulièrement cette politique de confidentialité pour vous tenir informé de nos pratiques actuelles.

            Contact
            Si vous avez des questions ou des préoccupations concernant notre politique de confidentialité, n'hésitez pas à nous contacter à l'adresse suivante : contact@haut-numerique.com.

            Date d'entrée en vigueur : 20 Février 2023

          </p>
        </div>
      </div>

    </div>
  </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
