<!DOCTYPE html>
<html>

<head>
    <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-NT2SW8WBHT"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-NT2SW8WBHT');
  </script>
<meta charset="UTF-8">
<title>FAQ E-maquis</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="E-maquis, FAQ">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
  <meta name="author" content="Haut Numérique et Médias">
  <meta name="generator" content="E-maquis, FAQ">
  <meta charset="utf-8">

	<!-- Stylesheets -->
	<link href="newAssets/css/bootstrap.css" rel="stylesheet">
	<link href="newAssets/css/main.css" rel="stylesheet">
	<link href="newAssets/css/responsive.css" rel="stylesheet">
	<link href="newAssets/css/faq.css" rel="stylesheet">

	<link rel="shortcut icon" href="newAssets/images/logo/emaquisLogo2.png" type="image/x-icon">
	<link rel="icon" href="newAssets/images/logo/emaquisLogo2.png" type="image/x-icon">

	<!-- Responsive -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

	<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
	<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

	<div class="page-wrapper">

		<!-- Preloader -->
		<div class="preloader row clearfix justify-content-center align-items-center">
			<div class="pathOne"></div>
			<div class="pathTwo"></div>
			<div class="pathThree"></div>

			<div class="ldrOne"></div>
			<div class="ldrTwo"></div>
			<div class="ldrThree"></div>

			<div class="">
				<img src="newAssets/images/logo/emaquisLogo2.png" alt="" srcset="">
			</div>
		</div>

		<!-- Main Header-->
		<header class="main-header">

			<!--Header-Upper-->
			<div class="header-upper">
				<div class="auto-container">
					<div class="clearfix">

						<div class="pull-left logo-box">
							<div class="logo"><a href="/"><img src="newAssets/images/logo/logo.png" alt="" width="100px"
										title=""></a></div>
						</div>

						<div class="nav-outer clearfix">
							<!--Mobile Navigation Toggler-->
							<div class="mobile-nav-toggler"><span class="icon icons-menu-button"></span></div>
							<!-- Main Menu -->
							<nav class="main-menu show navbar-expand-md">
								<div class="navbar-header">
									<button class="navbar-toggler" type="button" data-toggle="collapse"
										data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
										aria-expanded="false" aria-label="Toggle navigation">
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
								</div>

								<div class="navbar-collapse collapse scroll-nav clearfix" id="navbarSupportedContent">
									<ul class="navigation clearfix">

										<li class="dropdown"><a href="#">Espace</a>
											<ul>
												<li><a href="/connexion">Gestionnaire</a></li>
												<li><a href="emconnexion">Barman</a></li>
											</ul>
										</li>
										<li><a href="/inscription">Inscription</a></li>
										<li><a href="/">Contact</a></li>

									</ul>
								</div>

							</nav>

							<div class="outer-box">
								<a href="https://play.google.com/store/apps/details?id=com.hnm.emaquisapp" 
                                class="theme-btn btn-style-one" target="_blank"><span class="txt">Application
										serveur(se)s</span></a>
							</div>

						</div>

					</div>
				</div>
			</div>
			<!--End Header Upper-->



			<!-- Mobile Menu  -->
			<div class="mobile-menu">
				<div class="menu-backdrop"></div>
				<div class="close-btn"><span class="icon icons-multiply"></span></div>

				<nav class="menu-box">
					<div class="nav-logo"><a href="/"><img src="newAssets/images/logo/logo.png" alt="" title=""></a>
					</div>
					<div class="menu-outer">
						<!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
					</div>
				</nav>
			</div><!-- End Mobile Menu -->

		</header>
		<!--End Main Header -->
		<!--Page Title-->
		<section class="page-title" 
        style="background-image:url(../../img/inscrip.jpg); 
        background-position:0 170%; background-size: cover; background-repeat: no-repeat;"
        
        >
			<div class="container">
				<div class="content">
					<h1>FAQ</h1>
					<ul class="page-breadcrumb">
						<li><a href="/faq">Accueil</a></li>
						<li>FAQ</li>
					</ul>
				</div>
			</div>
		</section>
		<!--End Page Title-->
		<!--Banner Section-->




		<section class="faq">


			<div class="auto-container">

				<!-- For demo purpose -->
				<div class="row py-5">
					<div class="col-lg-9 mx-auto text-white text-center">
						<h2>QUESTIONS FRÉQUEMMENT POSÉES</h2>

					</div>
				</div><!-- End -->

				<div class="row">
					<div class="col-lg-9 mx-auto">
						<!-- Accordion -->
						<div id="accordionExample" class="accordion">

							<!-- Accordion item 1 -->
							<div class="card">
								<div id="headingOne" class="card-header bg-white shadow-sm border-0">
									<h2 class="mb-0">
										<button type="button" data-toggle="collapse" data-target="#collapseOne"
											aria-expanded="true" aria-controls="collapseOne"
											class="btn btn-link text-dark font-weight-bold text-uppercase collapsible-link">C'est
											quoi E-Maquis?
										</button>
									</h2>
								</div>
								<div id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample"
									class="collapse show">
									<div class="card-body p-5">
										<p class="">
											L'équipe de Hauts Numériques et Média a développé une application innovante
											qui permet aux établissements de gérer leurs stocks de manière efficace et
											sécurisée.
										</p>
										<p>
											L'objectif: digitaliser le monde de la nuit.
										</p>
										<br>
										<ul class="list-style-one">
											<li>Une comptabilité automatique et en temps réel</li>
											<li> Augmentez votre productivité</li>
											<li>Stop à la paperasse</li>
											<li>Stop aux pertes de stock</li>
											<li>Gagnez du temps</li>

										</ul>
									</div>
                                    
								</div>
							</div><!-- End -->
							<!-- Accordion item 1 -->
						
							<!-- Accordion item 2 -->

							<div class="card">
								<div id="headingTwo" class="card-header bg-white shadow-sm border-0">
									<h2 class="mb-0">
										<button type="button" data-toggle="collapse" data-target="#collapseTwo"
											aria-expanded="false" aria-controls="collapseTwo"
											class="btn btn-link collapsed text-dark font-weight-bold text-uppercase collapsible-link">Comment
											fonctionne E-maquis ?</button>
									</h2>
								</div>
								<div id="collapseTwo" aria-labelledby="headingThree" data-parent="#accordionExample"
									class="collapse">
									<div class="card-body p-5">
										<p class="">
											L'application se divise en 3 systèmes:


										</p>
										<p>
											L'objectif: digitaliser le monde de la nuit.
										</p>
										<br>
										<ul class="list-style-one">
											<li>E-maquis Serveur(se)</li>
											<li> E-maquis Barman(aid)</li>
											<li>E-maquis Gestionnaire</li>
										</ul>

									</div>
								</div>
							</div>

							<div class="card">
								<div id="headingThree" class="card-header bg-white shadow-sm border-0">
									<h2 class="mb-0">
										<button type="button" data-toggle="collapse" data-target="#collapseThree"
											aria-expanded="false" aria-controls="collapseThree"
											class="btn btn-link collapsed text-dark font-weight-bold text-uppercase collapsible-link">E-Maquis
											est-il fait pour mon activité ?</button>
									</h2>
								</div>
								<div id="collapseThree" aria-labelledby="headingThree" data-parent="#accordionExample"
									class="collapse">
									<div class="card-body p-5">
										<p>
											Que vous soyez un bar, un maquis, un espace ouvert un loung, un restaurant,
											un club ou une cave, l'application E-Maquis est idéal pour votre activité.À
											condition d'avoir une connexion internet.

										</p>
                                        <br> <a href="/inscription"
                                                class="btn btn-main-sm"
                                                id="btn-validate"
                                                data-aos="zoom-in"
                                                data-aos-duration="1200"
                                            >
                                            Commencer l'expérience E-maquis
                                            </a><br>
									</div>
								</div>
							</div><!-- End -->
							<div class="card">
								<div id="headingFour" class="card-header bg-white shadow-sm border-0">
									<h2 class="mb-0">
										<button type="button" data-toggle="collapse" data-target="#collapseFour"
											aria-expanded="false" aria-controls="collapseFour"
											class="btn btn-link collapsed text-dark font-weight-bold text-uppercase collapsible-link">Quel
											est son impact sur l'activité d'un établissement ?</button>
									</h2>
								</div>
								<div id="collapseFour" aria-labelledby="headingFour" data-parent="#accordionExample"
									class="collapse">
									<div class="card-body p-5">
										<p>
											E-maquis vous permet de:

										</p>
										<br>
										<ul class="list-style-one">
											<li>Gérer vos stocks de manière efficace et sécurisée</li>
											<li>Maitriser votre budget</li>
											<li>Valoriser vos employés</li>
											<li>Augmenter votre chiffre d'affaires</li>
										</ul>
									</div>
								</div>
							</div><!-- End -->

							<!-- Accordion item 3 -->
							<div class="card">
								<div id="headingFive" class="card-header bg-white shadow-sm border-0">
									<h2 class="mb-0">
										<button type="button" data-toggle="collapse" data-target="#collapseFive"
											aria-expanded="false" aria-controls="collapseFive"
											class="btn btn-link collapsed text-dark font-weight-bold text-uppercase collapsible-link">Qui
											nous sommes?</button>
									</h2>
								</div>
								<div id="collapseFive" aria-labelledby="headingFive" data-parent="#accordionExample"
									class="collapse">
									<div class="card-body p-5">
										<p>
											<strong>E-maquis</strong> a été crée par le groupe <b>Hauts
												Numériques et Médias</b>, une jeune entreprise dotée
											d'une équipe composée professionnels de divers horizons, unis par une
											vision commune : créer des solutions technologiques innovantes qui
											transforment le monde numérique.
										</p>
									</div>
								</div>
							</div><!-- End -->

						</div><!-- End -->
					</div>
				</div>
			</div>

		</section>




		<!-- Main Footer -->
		<%- include('partial/footer') %>
		<!-- End Main Footer -->

	</div>
	<!--End pagewrapper-->

	<!--Scroll to top-->
	<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-circle-up"></span></div>

	
	<script src="newAssets/js/jquery.js"></script>
	<script src="newAssets/js/popper.min.js"></script>
	<script src="newAssets/js/pagenav.js"></script>
	<script src="newAssets/js/jquery.scrollTo.js"></script>
	<script src="newAssets/js/bootstrap.min.js"></script>
	<script src="newAssets/js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="newAssets/js/jquery.fancybox.js"></script>
	<script src="newAssets/js/appear.js"></script>
	<script src="newAssets/js/swiper.min.js"></script>
	<script src="newAssets/js/jquery.paroller.min.js"></script>
	<script src="newAssets/js/parallax.min.js"></script>
	<script src="newAssets/js/validate.js"></script>
	<script src="newAssets/js/bxslider.js"></script>

	<script src="newAssets/js/swiper.min.js"></script>
	<script src="newAssets/js/tilt.jquery.min.js"></script>
	<script src="newAssets/js/owl.js"></script>
	<script src="newAssets/js/wow.js"></script>
	<script src="newAssets/js/jquery-ui.js"></script>
	<script src="newAssets/js/script.js"></script>

</body>

</html>