<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="" method="">
      <input type="text" placeholder="username" name="username" /><br />
      <input
        type="text"
        placeholder="nom_etablissement"
        name="nom_etablissement"
      /><br />
      <input type="text" placeholder="numero" name="numero" /><br />
      <input type="text" placeholder="adresse" name="adresse" /><br />
      <input type="email" placeholder="email" name="email" /><br />
      <input type="password" placeholder="password" name="password" /><br />
      <button type="submit" class="btn btn-rose">Enregistrer</button>
    </form>
    <%- include('partial/script.ejs') %>
    <script>
      const socket = io(window.location.origin + window.location.pathname);
      console.log(window.location.origin + window.location.pathname);

      $('form').on('submit', (e) => {
        e.preventDefault();
        isSucces = true;
        const data = {
          username: $('input[name="username"]').val(),
          email: $('input[name="email"]').val(),
          nom_etablissement: $('input[name="nom_etablissement"]').val(),
          adresse: $('input[name="adresse"]').val(),
          password: $('input[name="password"]').val(),
          numero: $('input[name="numero"]').val(),
        };

        // console.log(data);
        socket.emit('setUser', data);
        if (isSucces) {
          socket.emit('setClient', data);
        } else {
          document.getElementById('alert-danger').style.display = 'block';
          setTimeout(
            () =>
              (document.getElementById('alert-danger').style.display = 'none'),
            5000
          );
        }

        socket.on('saved', () => {
          document.getElementById('alert-success').style.display = 'block';
          $('input').val('');
          setTimeout(
            () =>
              (document.getElementById('alert-success').style.display = 'none'),
            3000
          );
        });
      });
    </script>
  </body>
</html>
