

<!DOCTYPE html>
<html lang="fr">
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>E-maquis</title>

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="E-maquis, Gestionnaire d'établissement">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
  <meta name="author" content="Haut Numérique et Médias">
  <meta name="generator" content="E-maquis, Gestionnaire d'établissement">

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="../img/paresseux_sous_officiel.png" />

  <!-- PLUGINS CSS STYLE -->
  <link rel="stylesheet" href="../plugins/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="../plugins/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="../plugins/slick/slick.css">
  <link rel="stylesheet" href="../plugins/slick/slick-theme.css">
  <link rel="stylesheet" href="../plugins/fancybox/jquery.fancybox.min.css">
  <link rel="stylesheet" href="../plugins/aos/aos.css">

  <!-- CUSTOM CSS -->
  <link href="../css/styles.css" rel="stylesheet">




</head>

<body class="body-wrapper" data-spy="scroll" data-target=".privacy-nav">


<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white border-bottom">
  <div class="container">
    <a class="navbar-brand " href="/"><img class="logo_bar" src="../img/_logo_.png" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="ti-menu"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">

		  <li class="nav-item active ">
			  <a class="nav-link dropdown-toggle "
				 href="/connexion" >
				  Gestionnaire
			  </a>
		  </li>

		  <li class="nav-item active ">
			  <a class="nav-link dropdown-toggle "
				 href="/emconnexion" >
				  Barman
			  </a>
		  </li>

        <li class="nav-item active">
          <a class="nav-link dropdown-toggle " href="/inscription" >inscription
          </a>
        </li>

        <li class="nav-item dropdown @@contact active">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--====================================
=            Hero Section            =
=====================================-->
<section class="section gradient-banner">
	<div class="shapes-container">
		<div class="shape" data-aos="fade-down-left" data-aos-duration="1500" data-aos-delay="100"></div>
		<div class="shape" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100"></div>
		<div class="shape" data-aos="fade-up-right" data-aos-duration="1000" data-aos-delay="200"></div>
		<div class="shape" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200"></div>
		<div class="shape" data-aos="fade-down-left" data-aos-duration="1000" data-aos-delay="100"></div>
		<div class="shape" data-aos="fade-down-left" data-aos-duration="1000" data-aos-delay="100"></div>
		<div class="shape" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="300"></div>
		<div class="shape" data-aos="fade-down-right" data-aos-duration="500" data-aos-delay="200"></div>
		<div class="shape" data-aos="fade-down-right" data-aos-duration="500" data-aos-delay="100"></div>
		<div class="shape" data-aos="zoom-out" data-aos-duration="2000" data-aos-delay="500"></div>
		<div class="shape" data-aos="fade-up-right" data-aos-duration="500" data-aos-delay="200"></div>
		<div class="shape" data-aos="fade-down-left" data-aos-duration="500" data-aos-delay="100"></div>
		<div class="shape" data-aos="fade-up" data-aos-duration="500" data-aos-delay="0"></div>
		<div class="shape" data-aos="fade-down" data-aos-duration="500" data-aos-delay="0"></div>
		<div class="shape" data-aos="fade-up-right" data-aos-duration="500" data-aos-delay="100"></div>
		<div class="shape" data-aos="fade-down-left" data-aos-duration="500" data-aos-delay="0"></div>
	</div>
	<div class="container btn-groupe">
		<div class="row align-items-center">
			<div class="col-md-6 order-2 order-md-1 text-center text-md-left">
				<h1 class="text-white font-weight-bold mb-4">Gérer votre bar , lounge et maquis</h1>
				<p class="text-white mb-5">avec facilité et suivez l'évolution de votre établissement même à distance.</p>
				<div class="debut">
					<a href="/inscription" class="btn btn-success btn-go"
					   data-aos="zoom-in"
					   data-aos-duration="1200"
					>
						essai gratuit de 1 mois
					</a>

					<a href="https://play.google.com/store/apps/details?id=com.hnm.emaquisapp&hl=en-US&ah=5I5RDxLgwjTllmBjffDVS-jZjXM"
					   data-aos="zoom-in"
					   data-aos-duration="1200"
					   target="_blank"
					>
						<img class="img-fluid google-play" src="../img/google-play.png" alt="google play">
					</a>
				</div>

			</div>
			<div class="col-md-6 text-center order-1 order-md-2">
				<img class="img-fluid" src="../images/mob-removebg-preview.png" alt="screenshot">
			</div>
		</div>

	</div>
</section>
<!--====  End of Hero Section  ====-->

<section class="section pt-0 position-relative pull-top">
	<div class="container">
		<div class="rounded shadow p-5 bg-white">
			<div class="row">
				<div class="col-lg-4 col-md-6 mt-5 mt-md-0 text-center"
				data-aos="zoom-in" data-aos-duration="1250">
					<img src="../img/icone_employee.png" class="img_note h1" />
					<h3 class="mt-4 text-capitalize h5 ">Gérer vos employés</h3>

				</div>
				<div class="col-lg-4 col-md-6 mt-5 mt-md-0 text-center"
				data-aos="zoom-in" data-aos-duration="1350">
					<img src="../img/caisse.png" class="img_note h1"/>
					<h3 class="mt-4 text-capitalize h5 ">Gérer votre comptabilité</h3>

				</div>
				<div class="col-lg-4 col-md-12 mt-5 mt-lg-0 text-center"
				data-aos="zoom-in" data-aos-duration="1300">
				<img src="../img/graphic.svg" class="img_note h1"/>
					<h3 class="mt-4 text-capitalize h5 ">Suivez l'évolution des ventes</h3>

				</div>
			</div>

		</div>
	</div>
</section>

<!--==================================
=            Feature Grid            =
===================================-->
<section class="feature section pt-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 ml-auto justify-content-center">
				<!-- Feature Mockup -->
				<div class="image-content" data-aos="fade-right">
					<img class="img-fluid mt-3" src="../img/paresseux_sous_officiel.png"
					data-aos-duration="1500" alt="emaqui logo"
					style="height: 350px"
					>
				</div>
			</div>
			<div class="col-lg-6 mr-auto align-self-center"
				 data-aos="fade-left"
				 data-aos-duration="1500"
			>
				<div class="feature-content">
					<!-- Feature Title -->
					<h2>Augmentez votre productivité avec <a
							href="#">E-Maquis</a>
					</h2>
					<!-- Feature Description -->
					<p class="desc">Le système de gestion !
						Prenez des commandes et encaissez en un temps record pour limiter le temps
						d’attente de vos clients et assurer une satisfaction maximale. <span class="">E-Maquis</span> est
						mobile</p>
				</div>
				<!-- Testimonial Quote -->
				<div class="testimonial">
					<p>
						"E-maquis est un gestionnaire d'établissement fiable sécurisé, optimiser afin d'accroitre et suivre la productivité de votre business"
					</p>
					<ul class="list-inline meta">
						<li class="list-inline-item">
							<img src="../img/paresseux_parasol.svg" alt="">
						</li>
						<li class="list-inline-item">E-Maquis</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>


<!--====  End of Feature Grid  ====-->

<!--==============================
=            Services            =
===============================-->
<section class="service section bg-gray">
	<div class="container-fluid p-0">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title" data-aos="zoom-in"
					 data-aos-duration="1300"
				>
					<h2>Facilitez votre travail</h2>
					<p>Avec <a href="/inscription">E-maquis</a>
						reste flex et gagne en temps
					</p>
				</div>

			</div>
		</div>
		<div class="row no-gutters" data-aos="fade-left"
			 data-aos-duration="1100">
			<div class="col-lg-6 align-self-center">
				<!-- Feature Image -->
				<div class="service-thumb left" data-aos="fade-right">
					<img class="img-fluid" src="../images/feature/dash.jpeg" alt="iphone-ipad">
				</div>
			</div>
			<div class="col-lg-5 mr-auto align-self-center">
				<div class="service-box">
					<div class="row align-items-center">
						<div class="col-md-6 col-xs-12">
							<!-- Service 01 -->
							<div class="service-item">
								<!-- Icon -->
								<i class="ti-bookmark"></i>
								<!-- Heading -->
								<h3>Prenez en main l'avenir de votre activité</h3>
								<!-- Description -->
								<p>
									Traitez les commandes facilement et rapidement pour
									vous concentrer sur la création d'une expérience client exceptionnelle.
								</p>
							</div>
						</div>
						<div class="col-md-6 col-xs-12">
							<!-- Service 01 -->
							<div class="service-item">
								<!-- Icon -->
								<i class="ti-pulse"></i>
								<!-- Heading -->
								<h3>Gardez toujours une longueur d'avance</h3>
								<!-- Description -->
								<p>
									Consultez facilement les informations sur vos ventes
									et vos revenus afin de prendre les bonnes décisions
									au bon moment pour votre activité.

								</p>
							</div>
						</div>
						<div class="col-md-6 col-xs-12">
							<!-- Service 01 -->
							<div class="service-item">
								<!-- Icon -->
								<i class="ti-bar-chart"></i>
								<!-- Heading -->
								<h3>Stratégie</h3>
								<!-- Description -->
								<p>
									Suivez l'évolution des ventes, produits
									et performances de vos employés pour tout savoir de votre entreprise.
								</p>
							</div>
						</div>
						<div class="col-md-6 col-xs-12">
							<!-- Service 01 -->
							<div class="service-item">
								<!-- Icon -->
								<i class="ti-panel"></i>
								<!-- Heading -->
								<h3>Surveillez et gérez votre activité à distance</h3>
								<!-- Description -->
								<p>
									Vous ne pouvez pas être partout à la fois,
									 alors E-maquis suit votre
									 stock et d'autres données importantes pendant que
									 vous vous concentrez sur le cœur de votre métier.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--====  End of Services  ====-->


<!--=================================
=            Video Promo            =
==================================-->
<section class="video-promo section bg-1">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">

			</div>
		</div>
	</div>
</section>
<!--====  End of Video Promo  ====-->

<!--=================================
=            Testimonial            =
==================================-->
 <!--<section class="section testimonial" id="testimonial">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">

				<div class="testimonial-slider owl-carousel owl-theme">

					<div class="item">
						<div class="block shadow">

							<p>
								Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec sollicitudin molestie malesuada.
								Donec sollicitudin molestie malesuada. Pellentesque in ipsum id orci porta dapibus. Lorem ipsum dolor
								sit amet, consectetur adipiscing elit. Pellentesque in ipsum id orci porta dapibus. Quisque velit nisi,
								pretium ut lacinia in, elementum id enim.
							</p>

							<div class="image">
								<img src="../images/testimonial/feature-testimonial-thumb.jpg" alt="image">
							</div>

							<cite>Abraham Linkon , Themefisher.com</cite>
						</div>
					</div>

					<div class="item">
						<div class="block shadow">

							<p>
								Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec sollicitudin molestie malesuada.
								Donec sollicitudin molestie malesuada. Pellentesque in ipsum id orci porta dapibus. Lorem ipsum dolor
								sit amet, consectetur adipiscing elit. Pellentesque in ipsum id orci porta dapibus. Quisque velit nisi,
								pretium ut lacinia in, elementum id enim.
							</p>

							<div class="image">
								<img src="../images/testimonial/feature-testimonial-thumb.jpg" alt="image">
							</div>

							<cite>Abraham Linkon , Themefisher.com</cite>
						</div>
					</div>

					<div class="item">
						<div class="block shadow">

							<p>
								Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec sollicitudin molestie malesuada.
								Donec sollicitudin molestie malesuada. Pellentesque in ipsum id orci porta dapibus. Lorem ipsum dolor
								sit amet, consectetur adipiscing elit. Pellentesque in ipsum id orci porta dapibus. Quisque velit nisi,
								pretium ut lacinia in, elementum id enim.
							</p>

							<div class="image">
								<img src="../images/testimonial/feature-testimonial-thumb.jpg" alt="image">
							</div>

							<cite>Abraham Linkon , Themefisher.com</cite>
						</div>
					</div>

					<div class="item">
						<div class="block shadow">

							<p>
								Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec sollicitudin molestie malesuada.
								Donec sollicitudin molestie malesuada. Pellentesque in ipsum id orci porta dapibus. Lorem ipsum dolor
								sit amet, consectetur adipiscing elit. Pellentesque in ipsum id orci porta dapibus. Quisque velit nisi,
								pretium ut lacinia in, elementum id enim.
							</p>

							<div class="image">
								<img src="../images/testimonial/feature-testimonial-thumb.jpg" alt="image">
							</div>

							<cite>Abraham Linkon , Themefisher.com</cite>
						</div>
					</div>

					<a href="./overview.html" class="btn btn-sm btn-white shadow-dark fonFt-size-sm">
                        View all pages
                      </a>
				</div>
			</div>
		</div>
	</div>
</section> -->
<!--====  End of Testimonial  ====-->



<!--============================
=            Footer            =
=============================-->
<footer>
  <div class="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12 m-md-auto align-self-center">
          <div class="block">
            <a href="/"><img src="../img/paresseux_sous_officiel.png"
				alt="footer-logo" class="img_footer"></a>
            <!-- Social Site Icons -->
            <ul class="social-icon list-inline">
              <li class="list-inline-item">
                <a href="#"><i class="ti-facebook"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#"><i class="ti-twitter"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#"><i class="ti-instagram"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
          <div class="block-2">
            <!-- heading -->
            <h6>Application Employés</h6>
			  <a href="https://play.google.com/store/apps/details?id=com.hnm.emaquisapp&hl=en-US&ah=5I5RDxLgwjTllmBjffDVS-jZjXM"
				 data-aos="zoom-in"
				 data-aos-duration="1200"
				 target="_blank"
			  >
				  <img class="img-fluid col-lg-12 col-md-12 col-sm-6 mr-4" src="../img/google-play.png" alt="google play">
			  </a>
            <!-- links -->

          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
          <div class="block-2">
            <!-- heading -->
            <h6>Resources</h6>
            <!-- links -->
            <ul>
              <li><a href="/inscription">Inscription</a></li>
              <li><a href="/connexion">Connexion</a></li>
				<h6>Supports <img src="../img/whatsapp-3.svg" style="width: 26px; height: 26px" class="mr-1"/></h6>
					<ul>
						<li><a href="https://wa.me/2250709454685">+225 0709454685</a></li>
						<li><a href="https://wa.me/2250709031399">+225 0709031399</a></li>
						<li><a href="https://wa.me/2250777129951">+225 0777129951</a></li>
						<li><a href="https://wa.me/33760484911">+33 0760484911</a></li>
					</ul>

            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
          <div class="block-2">
            <!-- heading -->
            <h6>L'entreprise</h6>
            <!-- links -->
            <ul>
              <li><a href="#">Carrière</a></li>
				<li><a href="#">Equipe</a></li>
              <li><a href="#">Contact</a></li>
				<li><a href="/faq">FAQs</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
          <div class="block-2">
            <!-- heading -->
            <h6>Informations Légal</h6>
            <!-- links -->
            <ul>
				<li><a href="/condition_general">Conditions Générales</a></li>
              <li><a href="/copyright">Avis de Confidentialité</a></li>

            </ul>
          </div>
        </div>


      </div>
    </div>
  </div>
  <div class="text-center bg-dark py-4">
    <small class="text-secondary">Copyright &copy; <script>document.write(new Date().getFullYear())</script>. Designe &amp; Developed by <a href="http://haut-numerique.com/">HNM</a></small class="text-secondary">
  </div>
</footer>


  <!-- To Top -->
  <div class="scroll-top-to">
    <i class="ti-angle-up"></i>
  </div>

  <!-- JAVASCRIPTS -->
<%- include('partial/script.ejs') %>


  <script src="../js/countUp.js" type="module"></script>
  <script src="../plugins/jquery/jquery.min.js"></script>
  <script src="../plugins/bootstrap/bootstrap.min.js"></script>
  <script src="../plugins/slick/slick.min.js"></script>
  <script src="../plugins/fancybox/jquery.fancybox.min.js"></script>
  <script src="../plugins/syotimer/jquery.syotimer.min.js"></script>
  <script src="../plugins/aos/aos.js"></script>
  <!-- google map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgeuuDfRlweIs7D6uo4wdIHVvJ0LonQ6g"></script>
  <script src="../plugins/google-map/gmap.js"></script>


  <script src="../js/script.js"></script>
</body>

</html>
