<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>E-maquis</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="newAssets/css/signUp.css">


    <link rel="shortcut icon" href="newAssets/images/logo/emaquisLogo2.png" type="image/x-icon">
    <link rel="icon" href="newAssets/images/logo/emaquisLogo2.png" type="image/x-icon">
    <link href="newAssets/css/bootstrap.css" rel="stylesheet">



    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>
    <div class="wrapper">

        <div class="alert alert-success" role="alert" style="text-align: center; display: none" id="alert-success">
            L'opération s'est terminée avec succès !
          </div>
          <div class="alert alert-danger" role="alert" style="text-align: center; display: none" id="alert-danger">
            Echec de l'opération, nom de l'établissement ou email déjà
            utilisé!
          </div>

        <form action="">
            <div class="auto-container">

                <div class="row clearfix justify-content-center align-items-center">
                  <a href="/"><img src="newAssets/images/logo/emaquisLogo2.png" width="100" alt="" srcset=""></a>  
                </div>
                <h1>Inscrivez-vous</h1>
                <div class="row clearfix">


                    <div class="col-lg-6 col-md-6">
                        <div class="input-box">
                            <input type="text" placeholder="Nom d'utilisateur " name="username" required>
                            <span class="icon flaticon-user"></span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="input-box">
                            <input type="text" placeholder="Nom de l'établissement " name="nom_etablissement" required>
                            <span class="icon flaticon-user"></span>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">


                    <div class="col-lg-6 col-md-6">
                        <div class="input-box">
                            <input type="text" placeholder="Email" name="email" required>
                            <span class="icon flaticon-user"></span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="input-box">
                            <input type="text" placeholder="Adresse" name="adresse" required>
                            <span class="icon flaticon-user"></span>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">


                    <div class="col-lg-6 col-md-6">
                        <div class="input-box">
                            <input type="tel" id="numericInput" oninput="validateNumericInput(this)" placeholder="N° de Téléphone" name="numero" required>
                            <span class="icon flaticon-user"></span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="input-box">
                            <input type="password" placeholder="Mot de passe" name="password" required>
                            <span class="icon flaticon-user"></span>
                        </div>
                        <div class="input-box">
                            <input type="password" placeholder="confirmer le mot de passe" name="confirm_password" required>
                            <span class="icon flaticon-user"></span>
                        </div>
                    </div>
                </div>
            </div>





            <div class="row clearfix justify-content-center align-items-center">
                <button type="submit" class="btn">S'inscrire</button>
            </div>
             <div class="register-link">
                <p>Avez-vous déjà un compte? <a href="/connexion">Connectez-vous ici</a></p>
            </div>
        </form>
    </div>

  

  <!-- JAVASCRIPTS -->
  <script src="../jquery-3.4.1.min.js"></script>
  <script src="../plugins/country/src/js/countrySelect.js"></script>
  <script src="../emaquisjs/emaquis.js"></script>
  <script src="../plugins/jquery/jquery.min.js"></script>
  <script src="../plugins/bootstrap/bootstrap.min.js"></script>
  <script src="../plugins/slick/slick.min.js"></script>
  <script src="../plugins/fancybox/jquery.fancybox.min.js"></script>
  <script src="../plugins/syotimer/jquery.syotimer.min.js"></script>
  <script src="../plugins/aos/aos.js"></script>
  <!-- google map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY"></script>
  <script src="../plugins/google-map/gmap.js"></script>

  <script src="../js/script.js"></script>
  
  <script src="/socket.io/socket.io.js "></script>
  <script>
    const socket = io(window.location.origin + window.location.pathname);
    console.log(window.location.origin + window.location.pathname);

    $("form").on("submit", (e) => {
      e.preventDefault();
      const btn = $("#btn-validate");
      btn.html("En cours...");
      btn.attr("disabled", true);

      const password = $('input[name="password"]').val();
      const confirm_password = $('input[name="confirm_password"]').val();

      if (password !== confirm_password) {
        document.getElementById("alert-danger").innerHTML =
          "Les mots de passe ne correspondent pas!";
        document.getElementById("alert-danger").style.display = "block";
        btn.html("Valider");
        btn.attr("disabled", false);
        return;
      }

      const data = {
        username: $('input[name="username"]').val(),
        email: $('input[name="email"]').val(),
        nom_etablissement: $('input[name="nom_etablissement"]').val(),
        adresse: $('input[name="adresse"]').val(),
        password: password,
        numero: $('input[name="numero"]').val(),
      };

      console.log(data);
      socket.emit("setUser", data);

      socket.on("saved", () => {
        document.getElementById("alert-success").style.display = "block";
        $("input").val("");
        btn.html("Valider");
        btn.attr("disabled", false);
        setTimeout(
          () =>
          (document.getElementById("alert-success").style.display = "none"),
          1000
        );
        location.href = "/config_profil";
      });


      socket.on("bad", () => {
        btn.html("Valider");
        btn.attr("disabled", false);
        setTimeout(
          () =>
          (document.getElementById("alert-danger").style.display = "block"),
          1000
        );
      });

    });
  </script>
  <script src="../js/helperMano.js"></script>
</body>

</html>