<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="">
        <select  name="produit">
            <option>Choisir le produit</option>
            <% for(let i = 0; i < cli.length; i++) {%>
                <option value="<%=cli[i].id%>"><%= cli[i].nom_produit %></option>
                <%}%>

        </select><br>
      <input type="number" placeholder="quantite" name="quantite"><br>
      <input type="text" name="session" id="" value="<%= sess.id %>" hidden>
      <button  type="submit" class="btn_1 radius_btn d-block text-center">enregistrer</button>
    </form>
    <script src="../plugins/jquery/jquery.min.js"></script>
    <script src="../jquery-3.4.1.min.js"></script>
    <script src="/socket.io/socket.io.js "></script>
    <script>
         const socket = io(window.location.origin + window.location.pathname);
         console.log(window.location.origin + window.location.pathname);

        $('form').on('submit', (e) => {
        e.preventDefault();
        isSucces = true;
      const  nom_produit= $('select[name="produit"]').val();
      const  quantites= $('input[name="quantite"]').val();
      const  employeid = $('input[name="session"]').val();
      const  maquis=  $('input[name="session"]').val();
        socket.emit("setVente", {employeid,nom_produit,quantites,maquis});
        // if (isSucces) {
        //     socket.emit("setClient", data);
        // } else {
        //     document.getElementById("alert-danger").style.display = "block";
        //     setTimeout(() => document.getElementById("alert-danger").style.display = "none", 5000)



        socket.on("saved", () => {
            document.getElementById("alert-success").style.display = "block";
            $("input").val('');
            setTimeout(() => document.getElementById("alert-success").style.display = "none", 1000);
        });
        socket.on("bad", () => {
                setTimeout(() =>  document.getElementById("alert-danger").style.display = "block", 1000);
            });

    })
    </script>
</body>
</html>