#add_vente {
  width: 100%;
  max-height: 490px;
}

.modal {
  background: rgba(0, 0, 0, 0.5);
}
.modal-backdrop {
  display: none;
}

.vente {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.vente .categories {
  width: 20%;
  height: 100%;
  max-height: 500px;
  padding: 10px;
  overflow-y: auto;
}

.vente .categories ul li {
  text-transform: uppercase;
}

.vente .categories ul li {
  width: 100%;
  background-color: #f1f1f1;
  font-weight: bold;
  cursor: pointer;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 5px;
  scale: 0.9;
  text-align: center;
  font-size: 12px;
}

.vente .categories ul li:hover {
  scale: 1;
  border-radius: 5px;
  font-weight: bold;
}

.vente .categories ul li.active {
  background-color: #98ed58;
  color: #fff;
}

.vente .carts {
  width: 20%;
}

.vente .product-list {
  width: 60%;
  height: 100%;
  max-height: 500px;
  padding: 10px;
  overflow-y: auto;
}

.vente .product-list__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  overflow-y: auto;
}

.vente .product-list__grid .product-card {
  background-color: #f1f1f1f2;
  min-height: 100px;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.vente .product-list__grid .product-card .product-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
  transition: all 0.5s ease;
}

/* Name product */

.product-card__details h4 {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  overflow-wrap: break-all;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 110px;
  display: block;
  overflow: hidden;
}

.vente .product-list__grid .product-card button {
  width: 100%;
  background-color: #98ed58;
  color: #f1f1f1;
  font-weight: bold;
}

.vente .product-list__grid .product-card .product-card__image img {
  width: 100%;
  height: 100px;
  object-fit: contain;
  scale: 1;
  animation-duration: 0.7s;
  animation-name: img-produit;
}

@keyframes img-produit {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}

.vente .product-list__grid .product-card .product-card__image img:hover {
  width: 100%;
  height: 100px;
  object-fit: contain;
  scale: 1.1;
}

.vente .carts .cart-item {
  background-color: #f4f4f4;
  min-height: 100px;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.vente .carts .cart-item__details {
  display: flex;
}

.vente .carts img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.vente .carts .cart-item__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.vente .carts .cart-item__actions button {
  width: 25%;
}

/* Panier */
.vente .carts-list {
  height: 100%;
  max-height: 345px;
  overflow-y: auto;
  border-radius: 5px 5px;
}

.vente button.btn-valider {
  background-color: #98ed58;
  color: #f1f1f1;
  font-weight: bold;
}

.vente .carts-footer {
  margin-top: auto;
}

.vente .carts-footer button {
  width: 100%;
}

.emRole {
  background-color: #2fd8f2;
  padding: auto;
  align-items: center;
}

.emTaille {
  background-color: #2fd8f2;
  padding: auto;
  align-items: center;
}

.formule {
  background-color: rgb(219, 36, 23);
  color: white;
  padding: auto;
  align-items: center;
}

.product-formule {
  color: #20deff;
}

.emPriceproduct {
  font-weight: 700;
}

.vente_table_item.active {
  background-color: #98ed58c7;
  color: #fff !important;
}

.vente_table_item.active td {
  color: #fff !important;
}

.vente_table_item button {
  border: none;
  background-color: transparent;
}

.vente_table_item button img {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

.cart-item button.btn-danger {
  background-color: rgb(219, 36, 23) !important;
  color: #fff;
}
