#add_vente {
  width: 100%;
  max-height: 490px;
}

.vente {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.vente .categories {
  width: 20%;
  padding: 10px;
  overflow-y: auto;
}

.vente .categories ul li {
  width: 100%;
  background-color: #97c0ff;
  cursor: pointer;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 5px;
  scale: 0.9;

}

.vente .categories ul li:hover {
  scale: 1;
  border-radius: 5px;
  font-weight: bold;
}

.vente .categories ul li.active {
  background-color: #245cc5;
  color: #fff;
}

.vente .carts {
  width: 20%;
}

.vente .product-list {
  width: 60%;
}

.vente .product-list__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.vente .product-list__grid .product-card {
  background-color: #F1F1F184;
  min-height: 100px;
  padding: 10px;
  border-radius: 5px;
}

.vente .product-list__grid .product-card button {
  width: 100%;
}

.vente .product-list__grid .product-card .product-card__image img {
  width: 100%;
  height: 100px;
  object-fit: contain;
  scale: 1;
  animation-duration: 0.7s;
  animation-name: img-produit;
}

@keyframes img-produit {
  from{
    scale: 0;
  }
  to{
    scale: 1;
  }
}

.vente .product-list__grid .product-card .product-card__image img:hover {
  width: 100%;
  height: 100px;
  object-fit: contain;
  scale: 1.1;
}

.vente .carts .cart-item {
  background-color: #e6e0e0;
  min-height: 100px;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.vente .carts .cart-item__details {
  display: flex;
}

.vente .carts img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.vente .carts .cart-item__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.vente .carts .cart-item__actions button {
  width: 25%;
}

/* Panier */
.vente .carts-list {
  height: 100%;
  max-height: 345px;
  overflow-y: auto;
  background: #0B2E135C;
}

.vente .carts-footer {
  margin-top: auto;
}

.vente .carts-footer button {
  width: 100%;
}
