.custom-scroll{
    max-height: 400px;
    overflow: auto;
    padding-right: 17px;
    box-sizing: content-box;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.thumb{
    background-color: #e9ecef;
    height: 50px;
    width: 50px;
    object-fit: contain;
    border-radius: 50%;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    position: relative;
    cursor: pointer;

}

.thumb img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*  animation .thumb*/

.thumb img{
    animation: pulse 2s infinite;
    transform: scale(1);
    
}

@keyframes pulse {
    0% {
        
        transform: scale(0.95);
    }
    50% {
        transform: scale(1);
    }
    70% {
        transform: rotate(90deg);
    }
    100% {
        
        transform: scale(0.95);
    }
}





/*  animation img*/

.obj_prod{
    
    
}

.logo_sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.logo_sidebar img {
    width: 77%;
    height: 77%;
    object-fit: contain;
    margin-top: 20px;
}

.enable-vertical-menu{
     
    animation: fadeIn 0.3s ease-in-out 1 forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.countNotif{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #dc3545;
    color: white;
    border-radius: 50%;
    padding: 0 5px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    min-width: 20px;
    min-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tutorial{
    position: relative;
    top: 0;
    left: 0;
    background-color: #dc3545;
    border: solid 2px white;
    color: white;
    border-radius: 20px;
    padding: 0 5px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    min-width: 20px;
    min-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tutorial::after{
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: solid 10px transparent;
    border-top-color: #dc3545;
}

.tutorial::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: solid 10px transparent;
    border-top-color: white;
}

/*  animation .tutorial*/

.tutorial{
    animation: pulse 2s infinite;
    transform: scale(1);
}

@keyframes pulse {
    0% {
        
        transform: scale(0.95);
    }
    50% {
        transform: scale(1);
    }
    100% {
        
        transform: scale(0.95);
    }
}

.tutorialEmploye{
    position: relative;
    top: 0;
    left: 0;
    background-color: #b57225;
    border: solid 2px white;
    color: white;
    border-radius: 20px;
    padding: 0 5px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    min-width: 20px;
    min-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tutorialEmploye::after{
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: solid 10px transparent;
    border-top-color: #c38742;
}

.tutorialEmploye::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: solid 10px transparent;
    border-top-color: white;
}

/*  animation .tutorialEmploye*/

.tutorialEmploye{
    animation: pulse 2s infinite;
    transform: scale(1);
}

@keyframes pulse {
    0% {
        
        transform: scale(0.95);
    }
    50% {
        transform: scale(1);
    }
    100% {
        
        transform: scale(0.95);
    }
}


.tutorial_body{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(61,66,85,0.3);
    z-index: 1000;
    
}