.custom-scroll{
    max-height: 400px;
    overflow: auto;
    padding-right: 17px;
    box-sizing: content-box;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.thumb{
    background-color: #e9ecef;
    height: 50px;
    width: 50px;
    object-fit: contain;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    position: relative;

}

.logo_sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.logo_sidebar img {
    width: 77%;
    height: 77%;
    object-fit: contain;
    margin-top: 20px;
}

.enable-vertical-menu{
     
    animation: fadeIn 0.3s ease-in-out 1 forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
