.custom-scroll {
  max-height: 400px;
  overflow: auto;
  padding-right: 17px;
  box-sizing: content-box;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.card_custom {
  min-height: 90%;
  cursor: pointer;
}

.card_custom a {
  text-decoration: none;
  color: #fff;
}

.card_custom:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  transform: scale(1.01);
}

.selectProduit {
}

.thumb {
  background-color: #e9ecef;
  height: 50px;
  width: 50px;
  object-fit: contain;
  border-radius: 50%;
  padding: 5px;
  margin: 5px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.thumb img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*  animation .thumb*/

.thumb img {
  animation: pulse 0.7s infinite;
  transform: scale(1.6);
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1);
  }
  70% {
    transform: rotate(90deg);
  }
  100% {
    transform: scale(0.95);
  }
}

/*  faire apparaitre les td en animation*/

td {
  opacity: 0;
  animation: fadeIn 0.3s ease-in-out 1 forwards;
  transition: all 0.3s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/*  animation img*/

.obj_prod {
}

.logo_sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.logo_sidebar img {
  width: 77%;
  height: 77%;
  object-fit: contain;
  margin-top: 20px;
}

.enable-vertical-menu {
  animation: fadeIn 0.3s ease-in-out 1 forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.countNotif {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #dc3545;
  border: solid 2px white;
  color: white;
  border-radius: 50px;
  padding: 0 5px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  min-width: 20px;
  min-height: 20px;
}

#notificationData img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.tutorial {
  position: relative;
  top: 0;
  left: 0;
  background-color: #dc3545;
  border: solid 2px white;
  color: white;
  border-radius: 20px;
  padding: 0 5px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  min-width: 20px;
  min-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tutorial::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: solid 10px transparent;
  border-top-color: #dc3545;
}

.tutorial::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: solid 10px transparent;
  border-top-color: white;
}

/*  animation .tutorial*/

.tutorial {
  animation: pulse 2s infinite;
  transform: scale(1);
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
  }
}

.tutorialEmploye {
  position: relative;
  top: 0;
  left: 0;
  background-color: #b57225;
  border: solid 2px white;
  color: white;
  border-radius: 20px;
  padding: 0 5px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  min-width: 20px;
  min-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tutorialEmploye::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: solid 10px transparent;
  border-top-color: #c38742;
}

.tutorialEmploye::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: solid 10px transparent;
  border-top-color: white;
}

/*  animation .tutorialEmploye*/

.tutorialEmploye {
  animation: pulse 2s infinite;
  transform: scale(1);
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
  }
}

.tutorial_body {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(61, 66, 85, 0.3);
  z-index: 1000;
}

.checkbox-wrapper-12 {
  position: relative;
  display: flex;
}

.checkbox-wrapper-12 > svg {
  position: absolute;
  top: -130%;
  left: -170%;
  width: 110px;
  pointer-events: none;
}

.checkbox-wrapper-12 * {
  box-sizing: border-box;
}

.checkbox-wrapper-12 input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  margin: 0;
}

.checkbox-wrapper-12 input[type="checkbox"]:focus {
  outline: 0;
}

.checkbox-wrapper-12 .cbx {
  width: 24px;
  height: 24px;
  top: calc(100px - 12px);
  left: calc(100px - 12px);
}

.checkbox-wrapper-12 .cbx input {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border: 2px solid #bfbfc0;
  border-radius: 50%;
}

.checkbox-wrapper-12 .cbx label {
  width: 24px;
  height: 24px;
  background: none;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transform: trasnlate3d(0, 0, 0);
  pointer-events: none;
}

.checkbox-wrapper-12 .cbx svg {
  position: absolute;
  top: 5px;
  left: 4px;
  z-index: 1;
  pointer-events: none;
}

.checkbox-wrapper-12 .cbx svg path {
  stroke: #fff;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 19;
  stroke-dashoffset: 19;
  transition: stroke-dashoffset 0.3s ease;
  transition-delay: 0.2s;
}

.checkbox-wrapper-12 .cbx input:checked + label {
  animation: splash-12 0.6s ease forwards;
}

.checkbox-wrapper-12 .cbx input:checked + label + svg path {
  stroke-dashoffset: 0;
}

@-moz-keyframes splash-12 {
  40% {
    background: #866efb;
    box-shadow: 0 -18px 0 -8px #866efb, 16px -8px 0 -8px #866efb,
      16px 8px 0 -8px #866efb, 0 18px 0 -8px #866efb, -16px 8px 0 -8px #866efb,
      -16px -8px 0 -8px #866efb;
  }

  100% {
    background: #866efb;
    box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent,
      32px 16px 0 -10px transparent, 0 36px 0 -10px transparent,
      -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}

@-webkit-keyframes splash-12 {
  40% {
    background: #866efb;
    box-shadow: 0 -18px 0 -8px #866efb, 16px -8px 0 -8px #866efb,
      16px 8px 0 -8px #866efb, 0 18px 0 -8px #866efb, -16px 8px 0 -8px #866efb,
      -16px -8px 0 -8px #866efb;
  }

  100% {
    background: #866efb;
    box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent,
      32px 16px 0 -10px transparent, 0 36px 0 -10px transparent,
      -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}

@-o-keyframes splash-12 {
  40% {
    background: #866efb;
    box-shadow: 0 -18px 0 -8px #866efb, 16px -8px 0 -8px #866efb,
      16px 8px 0 -8px #866efb, 0 18px 0 -8px #866efb, -16px 8px 0 -8px #866efb,
      -16px -8px 0 -8px #866efb;
  }

  100% {
    background: #866efb;
    box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent,
      32px 16px 0 -10px transparent, 0 36px 0 -10px transparent,
      -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}

@keyframes splash-12 {
  40% {
    background: #866efb;
    box-shadow: 0 -18px 0 -8px #866efb, 16px -8px 0 -8px #866efb,
      16px 8px 0 -8px #866efb, 0 18px 0 -8px #866efb, -16px 8px 0 -8px #866efb,
      -16px -8px 0 -8px #866efb;
  }

  100% {
    background: #866efb;
    box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent,
      32px 16px 0 -10px transparent, 0 36px 0 -10px transparent,
      -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}

@media (min-width: 992px) {
  .col-lg-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 60%;
  }
  .mb_30 {
    margin-top: 100px;
  }
}
