<link rel="icon" href="img/paresseux_sous_officiel.png" type="image/png">

<link rel="stylesheet" href="vendors/themefy_icon/themify-icons.css" />

<link rel="stylesheet" href="vendors/niceselect/css/nice-select.css" />

<link rel="stylesheet" href="vendors/owl_carousel/css/owl.carousel.css" />

<link rel="stylesheet" href="vendors/gijgo/gijgo.min.css" />

<link rel="stylesheet" href="vendors/font_awesome/css/all.min.css" />
<link rel="stylesheet" href="vendors/tagsinput/tagsinput.css" />


 <link rel="stylesheet" href="vendors/datepicker/date-picker.css" />

 <link rel="stylesheet" href="vendors/vectormap-home/vectormap-2.0.2.css" />

 <link rel="stylesheet" href="vendors/scroll/scrollable.css" />

<link rel="stylesheet" href="vendors/datatable/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="vendors/datatable/css/responsive.dataTables.min.css" />
<link rel="stylesheet" href="vendors/datatable/css/buttons.dataTables.min.css" />

<link rel="stylesheet" href="vendors/text_editor/summernote-bs4.css" />

<link rel="stylesheet" href="vendors/morris/morris.css">

<link rel="stylesheet" href="vendors/material_icon/material-icons.css" />

<link rel="stylesheet" href="css/metisMenu.css">


<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" href="css/colors/default.css" id="colorSkinCSS">


<a class="btn btn-primary btn-menu" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
  Menu
</a>

  <nav class="offcanvas offcanvas-start sidebar" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="logo d-flex justify-content-between">
      <a class="large_logo" href="/emdashboard"
      ><img src="img/paresseux_sous_officiel.png" alt=""
        /></a>

      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <ul id="sidebar_menu">
      <!-- <li class="">
        <a class="has-arrow" href="#" aria-expanded="false">
          <div class="nav_icon_small">
            <img src="img/paresseux_parasol.svg" alt="" />
          </div>
          <div class="nav_title">
            <span>E-maquis </span>
          </div>
        </a>
      </li> -->

      <li class="">
        <a class="has-arrow" href="#" aria-expanded="false">
          <div class="nav_icon_small icon_anim">
            <img src="img/menu-icon/icone_produits.png"
                 style="height: 40px; width: 40px;"
                 class="img-fluid " alt="img produits"
            />
          </div>
          <div class="nav_title">
            <span>Produit</span>
          </div>
        </a>
        <ul>
          <li><a href="/listeproduit"> voir mes produits</a></li>
          <li><a href="/ajouterproduit">Enregistrer un produit</a></li>
        </ul>
      </li>
      <li class="">
        <a class="has-arrow" href="#" aria-expanded="false">
          <div class="nav_icon_small icon_anim">
            <img src="img/menu-icon/remarque.png"
                 style="height: 40px; width: 40px;"
                 class="img-fluid " alt="img remarque"
            />
          </div>
          <div class="nav_title">
            <span>Retour produit</span>
          </div>
        </a>
        <ul>
          <li><a href="/listeretour"> mes retours produits</a></li>
          <li><a href="/retournerproduit">Enregistrer retour produit</a></li>
        </ul>
      </li>
      <li class="">
        <a class="has-arrow" href="#" aria-expanded="false">
          <div class="nav_icon_small icon_anim">
            <img src="img/menu-icon/reglage.png"
                 style="height: 35px; width: 35px;"
                 class="img-fluid " alt="img remarque"
            />
          </div>
          <div class="nav_title">
            <span>Réglages</span>
          </div>
        </a>
        <ul>
          <div class="profile_info_details">
            <li><a href="/profile">Mon Profil </a></li>
            <li><a href="#">Réglage</a></li>
            <li><a href="/deconnexion">Déconnexion </a></li>
          </div>
        </ul>
        <div class="profile_info_details side-deconnexion">
          <a href="/deconnexion" class="btn btn-danger side-deconnexion  text-dark">Déconnexion </a>
        </div>
      </li>
    </ul>
  </nav>
    <!-- sidebar menu end -->
