<!-- Main Footer -->
<footer class="main-footer">
    <div class="auto-container">
        <!--Widgets Section-->
        <div class="widgets-section">
            <div class="row clearfix">

                <!-- Footer Column -->
                <div class="footer-column col-lg-5 col-md-6 col-sm-12">
                    <div class="footer-widget logo-widget">
                        <div class="logo">
                            <a href="/"><img src="newAssets/images/logo/emaquisLogo2.png" alt="" /></a>
                        </div>
                        <div class="text">E-maquis, l’application qui vous simplifie<br>la vie au maquis.</div>

                    </div>
                </div>

                <!-- Footer Column -->
                <div class="footer-column col-lg-3 col-md-6 col-sm-12">
                    <div class="footer-widget links-widget">
                        <div class="row clearfix">
                            <div class="column">
                                <ul>
                                    <li><a href="/" class="scroll-to-target" data-target="html">Accueil</a></li>
                                    <li><a class="scroll-to-target"
                                            data-target=".featured-section">Fonctionnalité</a></li>
                                    <li><a class="scroll-to-target" data-target=".steps-section">Procédure</a>
                                    </li>

                                    <li><a href="/faq">FAQ</a></li>
                                    <li><a href="/condition_general">Conditions générales</a>

                                    <li><a href="/copyright">Avis de Confidentialité</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Footer Column -->
                <div class="footer-column col-lg-4 col-md-6 col-sm-12">
                    <div class="footer-widget email-widget">
                        <div class="text">Boîte à suggestion</div>
                        <!-- Newsletter Form -->
                        <div class="newsletter-form-two">
                            <form method="post" action="">
                                <div class="form-group">
                                    <input type="email" name="email" value="" placeholder="Votre suggestion"
                                        required="">
                                    <button type="submit" class="theme-btn submit-btn"><span
                                            class="icon flaticon-paper-plane"></span></button>
                                </div>
                            </form>
                        </div>
                        <div class="btns">
                            <!-- <a href="#"><img src="images/icons/app-1.png" alt="" /></a> -->
                            <a href="https://play.google.com/store/apps/details?id=com.hnm.emaquisapp"
                                target="_blank"><img src="newAssets/images/icons/google-play.png" width="100"
                                    alt="" /></a>
                        </div>
                        <!-- <ul class="social-icon-one">
                            <li class="facebook"><a href="#"><span class="fa fa-facebook"></span></a></li>
                            <li class="twitter"><a href="#"><span class="fa fa-youtube"></span></a></li>
                            
                        </ul> -->
                        <ul class="footer-nav">
                            <li><a href="mailto:hostmaster@e-maquis.com">Email : hostmaster@e-maquis.com</a>
                            </li>

                            <li>
                                support
                                <ul>
                                    <li><a href="https://wa.me/2250709454685">+225 0709454685</a></li>
                                    <li><a href="https://wa.me/2250709031399">+225 0709031399</a></li>
                                    <li><a href="https://wa.me/2250777129951">+225 0777129951</a></li>
                                    <li><a href="https://wa.me/33760484911">+33 0760484911</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <div class="footer-bottom">
            <div class="clearfix">
                <div class="pull-left">
                    <div class="copyright">&copy; 2023 Haut Numeriques Medias</div>
                </div>
                <div class="pull-right">
                    <ul class="social-icon-one">
                        <li class="facebook"><a href="https://www.facebook.com/profile.php?id=100092243106487"
                                target="_blank"><span class="fa fa-facebook"></span></a></li>
                        <li class="facebook"><a href="https://www.youtube.com/@hnmtic" target="_blank"><span
                            class="fa fa-youtube"></span></a>
                        </li>

                        <li class="facebook"><a href="https://www.instagram.com/emaquis225/" target="_blank"><span
                            class="fa fa-instagram"></span></a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

    </div>
</footer>
<!-- End Main Footer -->

<script>
    const date = new Date();
    const year = date.getFullYear();
</script>