<!-- Preloader -->
<div class="preloader row clearfix justify-content-center align-items-center">
    <div class="pathOne"></div>
    <div class="pathTwo"></div>
    <div class="pathThree"></div>

    <div class="ldrOne"></div>
    <div class="ldrTwo"></div>
    <div class="ldrThree"></div>

    <div class="">
        <img src="newAssets/images/logo/emaquisLogo2.png" alt="" srcset="">
    </div>
</div>

<!-- Main Header-->
<header class="main-header">

    <!--Header-Upper-->
    <div class="header-upper">
        <div class="auto-container">
            <div class="clearfix">

                <div class="pull-left logo-box">
                    <div class="logo"><a href="/"><img src="newAssets/images/logo/logo.png" alt="" width="100px"
                            title=""></a>
                    </div>
                </div>

                <div class="nav-outer clearfix">
                    <!--Mobile Navigation Toggler-->
                    <div class="mobile-nav-toggler"><span class="icon icons-menu-button"></span></div>
                    <!-- Main Menu -->
                    <nav class="main-menu show navbar-expand-md">
                        <div class="navbar-header">
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="navbar-collapse collapse scroll-nav clearfix" id="navbarSupportedContent">
                            <ul class="navigation clearfix">

                                <li class="dropdown"><a href="#">Espace</a>
                                    <ul>
                                        <li><a href="/connexion">Gestionnaire</a></li>
                                        <li><a href="/emconnexion">Barman</a></li>
                                    </ul>
                                </li>
                                <li><a href="/inscription">Inscription</a></li>
                                <li><a href="contact.html">Contact</a></li>

                            </ul>
                        </div>

                    </nav>

                    <div class="outer-box">
                        <a href="https://play.google.com/store/apps/details?id=com.hnm.emaquisapp" class="theme-btn btn-style-one" target="_blank"><span class="txt">Telecharger
                                l'app serveur(se)s</span></a>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!--End Header Upper-->



    <!-- Mobile Menu  -->
    <div class="mobile-menu">
        <div class="menu-backdrop"></div>
        <div class="close-btn"><span class="icon icons-multiply"></span></div>

        <nav class="menu-box">
            <div class="nav-logo"><a href="/"><img src="newAssets/images/logo/logo.png" alt="" title=""></a>
            </div>
            <div class="menu-outer">
                <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
            </div>
        </nav>
    </div><!-- End Mobile Menu -->

</header>