<div class="box_right d-flex lms_block">
  <div class="serach_field_2">
    <div class="search_inner">
      <form action="#">
        <div class="search_field">
          <input type="text" placeholder="Faire une recherche" id="search" />
        </div>
        <button type="submit">
          <i class="ti-search"></i>
        </button>
      </form>
    </div>
  </div>
  <div class="add_button ml-10">
    <button
      href="#"
      data-toggle="modal"
      data-target="#addcategory"
      class="btn_1"
      id="search__btn"
    >
      Recherche
    </button>
  </div>
</div>
