<!-- Begin page -->
<div id="layout-wrapper">
  <!-- ========== Left Sidebar Start ========== -->
  <div class="vertical-menu">
    <div data-simplebar class="h-100">
      <div class="navbar-brand-box mt-10 logo_sidebar">
        <a href="/dashboard">
          <img src="../img/paresseux_sous_officiel.png" alt="" />
        </a>
      </div>

      <!--- Sidemenu -->
      <div id="sidebar-menu">
        <!-- Left Menu Start -->
        <ul class="metismenu list-unstyled" id="side-menu">
          <li>
            <a
              href="javascript: void(0);"
              class="has-arrow waves-effect"
              aria-expanded="false"
            >
              <div class="nav_icon_small">
                <img
                  src="../img/paresseux_sous_officiel.png"
                  style="height: 22px; width: 25px"
                  alt=""
                />
                <span>E-Maquis-Bilan</span>
              </div>
            </a>

            <ul class="sub-menu" aria-expanded="false">
              <li class=""><a href="/bilan">Bilan</a></li>
            </ul>
          </li>

          <li class="tutoNewAddEmploye">
            <a
              href="javascript: void(0);"
              class="has-arrow waves-effect"
              aria-expanded="false"
            >
              <div class="nav_icon_small">
                <img
                  src="../img/icone_employee.png"
                  alt=""
                  style="height: 29px; width: 29px"
                />
                <span>Employé(es)</span>
              </div>
            </a>

            <ul class="sub-menu" aria-expanded="false">
              <li><a href="/ajouteruser">ajouter</a></li>
              <li><a href="/utilisateur"> Liste des employés</a></li>
            </ul>
          </li>

          <li>
            <a
              href="javascript: void(0);"
              class="has-arrow waves-effect"
              aria-expanded="false"
            >
              <div class="nav_icon_small">
                <img
                  src="../img/icone_ventes.png"
                  style="height: 22px; width: 37px; transform: rotate(-20deg)"
                  alt=""
                />
                <span>Vente</span>
              </div>
            </a>

            <ul class="sub-menu" aria-expanded="false">
              <li><a href="/data_table"> Liste des ventes</a></li>
            </ul>
          </li>

          <li class="tutoNewCompte">
            <a
              href="javascript: void(0);"
              class="has-arrow waves-effect"
              aria-expanded="false"
            >
              <div class="nav_icon_small">
                <img
                  src="img/menu-icon/bouteille.png"
                  style="height: 22px; width: 37px; transform: rotate(-20deg)"
                  alt=""
                />
                <span>Produits</span>
              </div>
            </a>

            <ul>
              <li><a href="/ajouterproduit">Enregistrer un produit</a></li>
              <li><a href="/listeproduit"> Approvisionnement</a></li>

              <% if(locals.user?.isAdmin){ %>
              <li>
                <a href="/listeproduitglobal">Liste produits global</a>
              </li>
              <li>
                <a href="/ajouter-produit-global"
                  >Enregistrer un produit global</a
                >
              </li>
              <% } %>
            </ul>
          </li>

          <li>
            <a
              href="javascript: void(0);"
              class="has-arrow waves-effect"
              aria-expanded="false"
            >
              <div class="nav_icon_small">
                <img
                  src="../img/categorie.svg"
                  style="height: 22px; width: 37px; transform: rotate(-20deg)"
                  alt=""
                />
                <span>Catégories</span>
              </div>
            </a>

            <ul>
              <li><a href="/listcategorie"> Mes catégories</a></li>
              <% if(locals.user?.isAdmin){ %>
              <li><a href="/ajoutercategorie">ajouter</a></li>
              <% } %>
            </ul>
          </li>

          <li>
            <a
              href="javascript: void(0);"
              class="has-arrow waves-effect"
              aria-expanded="false"
            >
              <div class="nav_icon_small">
                <img
                  src="img/menu-icon/reglage.png"
                  style="height: 22px; width: 30px"
                  alt=""
                />
                <span>Paramètres</span>
              </div>
            </a>

            <ul class="sub-menu" aria-expanded="false">
              <div class="profile_info_details">
                <li><a href="/profile">Mon Profil </a></li>
                <!--          <li><a href="/reglage" class="list-group-item disabled">Réglage<span class="badge badge-info">Bêta</span></a></li>-->
                <li><a href="/deconnexion">Déconnexion </a></li>
              </div>
            </ul>
          </li>

          <!--<li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect"><i
                                class="mdi mdi-share-variant"></i><span>Multi Level</span></a>
                        <ul class="sub-menu" aria-expanded="true">
                            <li><a href="javascript: void(0);">Level 1.1</a></li>
                            <li><a href="javascript: void(0);" class="has-arrow">Level 1.2</a>
                                <ul class="sub-menu" aria-expanded="true">
                                    <li><a href="javascript: void(0);">Level 2.1</a></li>
                                    <li><a href="javascript: void(0);">Level 2.2</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li> -->
        </ul>
      </div>
      <!-- Sidebar -->
    </div>
  </div>
  <!-- Left Sidebar End -->
</div>
