<div class="container-fluid no-gutters">
  <div class="row">
    <div class="col-lg-12 p-0">
      <div class="header_iner  ">
        <div class="sidebar_icon d-lg-none">
          <i class="ti-menu"></i>
        </div>
        <div class="line_icon open_miniSide d-none d-lg-block">
          <img src="img/line_img.png" alt="" />
        </div>

        <div class="page_title_right">
          <div class="page_date_button ">
            <div class="profile_author_name">
              <p class="text-center">
                <%= locals.user?.nom %> <%= locals.user?.prenom ||
                locals.user?.prenoms %>
              </p>
              <h5 class="emRole badge"><%= locals.user?.role %></h5>
            </div>
          </div>

        </div>

        <div id="notificationData">
          <a>
            <span class="countNotif"></span>
            <img src="img/notification.svg"
                 class="img-fluid" alt="image notification"
                 data-bs-toggle="modal"
                 data-bs-target="#exampleModal"
            />
          </a>
        </div>

      </div>
    </div>


  </div>
</div>

<!-- Modal Notyf-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Notifications</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body-notyf">

      </div>

    </div>
  </div>
</div>
