<nav class="sidebar">
    <div class="logo d-flex justify-content-between">
        <a class="large_logo" href="/dashboard"><img src="img/paresseux_parasol.svg" alt=""></a>
        <a class="small_logo" href="/dashboard"><img src="img/paresseux_parasol.svg" alt=""></a>
        <div class="sidebar_close_icon d-lg-none">
            <i class="ti-close"></i>
        </div>
    </div>
    <ul id="sidebar_menu">
        <li class="">
            <a class="has-arrow" href="#" aria-expanded="false">
                <div class="nav_icon_small">
                    <img src="img/paresseux_parasol.svg" alt="">
                </div>
                <div class="nav_title">
                    <span>E-maquis </span>
                </div>
            </a>
            <!-- <ul>
                <li><a href="#">Defaut</a></li>
              <li><a href="index_3.html">Thème noir</a></li>
              <li><a href="index.html">thème light</a></li>
            </ul> -->
        </li>

        <li class="">
            <a   class="has-arrow" href="#" aria-expanded="false">
              <div class="nav_icon_small">
                <img src="img/menu-icon/5.svg" alt="">
            </div>
            <div class="nav_title">
                <span>Employé</span>
            </div>
            </a>
            <ul>
              <li><a href="/utilisateur"> Liste des employés</a></li>
              <li><a href="/ajouteruser">ajouter</a></li>
            </ul>
        </li>

        <li class="">
            <a   class="has-arrow" href="#" aria-expanded="false">
              <div class="nav_icon_small">
                <img src="img/menu-icon/5.svg" alt="">
            </div>
            <div class="nav_title">
                <span>Vente</span>
            </div>
            </a>
            <ul>
              <li><a href="/data_table"> Liste des ventes</a></li>
              <li><a href="ajouterproduit">ajouter</a></li>
            </ul>
        </li>
        <li class="">
          <a   class="has-arrow" href="#" aria-expanded="false">
            <div class="nav_icon_small">
              <img src="img/menu-icon/5.svg" alt="">
          </div>
          <div class="nav_title">
              <span>Catégories</span>
          </div>
          </a>
          <ul>
            <li><a href="/listcategorie"> Mes catégories</a></li>
            <li><a href="/ajoutercategorie">ajouter</a></li>
          </ul>
      </li>
        <li class="">
            <a   class="has-arrow" href="#" aria-expanded="false">
              <div class="nav_icon_small">
                <img src="img/menu-icon/5.svg" alt="">
            </div>
            <div class="nav_title">
                <span>Fournisseur</span>
            </div>
            </a>
            <ul>
              <li><a href="/listefournisseur"> voir mes fournisseurs</a></li>
              <li><a href="/fournisseur">Enregistrer un fournisseur</a></li>
            </ul>
        </li>
        <li class="">
          <a   class="has-arrow" href="#" aria-expanded="false">
            <div class="nav_icon_small">
              <img src="img/menu-icon/5.svg" alt="">
          </div>
          <div class="nav_title">
              <span>Produit</span>
          </div>
          </a>
          <ul>
            <li><a href="/listeproduit"> voir mes produits</a></li>
            <li><a href="/ajouterproduit">Enregistrer un produit</a></li>
          </ul>
          
      </li>
    
     
      <li class="">
        <a   class="has-arrow" href="#" aria-expanded="false">
          <div class="nav_icon_small">
            <img src="img/menu-icon/5.svg" alt="">
        </div>
        <div class="nav_title">
            <span>Contact</span>
        </div>
        </a>
        <ul>
          <li><a href="/contact"> Envoyez-nous un message</a></li>
          
        </ul>
    </li>
      </ul>
</nav>