<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Google tag (gtag.js) -->
		<script
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-NT2SW8WBHT"
		></script>
		<script>
			window.dataLayer = window.dataLayer || [];

			function gtag() {
				dataLayer.push(arguments);
			}
			gtag('js', new Date());

			gtag('config', 'G-NT2SW8WBHT');
		</script>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
		/>
		<link
			rel="stylesheet"
			href="../css/ticket.css"
		/>
		<title>Ticket</title>
		<style>
			* {
				margin: 0;
				padding: 0;
				box-sizing: border-box;
			}
		</style>
	</head>

	<body>
		<div>
			<pre><%=ticket%></pre>
		</div>
	</body>
</html>
